<!DOCTYPE html>

<p>Please create an an account if you are a first time user, otherwise sign in</p>
<html>
 <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>Registration Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="main.css">
<script src="main.js"></script>
 </head>  
 <body>
     <form action="home/" method="POST">
         {% csrf_token %}
         <input type="text" name="first_name" placeholder="First Name"><br>
         <input type="text" name="last_name" placeholder="Last Name"><br>
         <input type="email" name="email" placeholder="Email"><br>
         <input type="password" name="password" placeholder="password"><br>
         <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
         <input type="Submit"><br>
     </form>
 </body> 
</html>